<main class="card-details">
  <section class="imgs-container">
    <div class="circles-back">000</div>

    <div class="circles-front--up">
      <span class="circle-big"></span>
      <span class="circle-small"></span>
      <span class="circle-number"> 0000 0000 0000 0000 </span>
      <span class="details">
        <span class="name"> JANE APPLESEED </span>
        <span class="date"> 00/00 </span>
      </span>
    </div>

    <img class="card card-back" src="../assets/imgs/bg-card-back.png" alt="" />
    <img
      class="card card-front"
      src="../assets/imgs/bg-card-front.png"
      alt=""
    />
  </section>

  <section class="form-container">
    <app-form-info></app-form-info>
      <!-- <app-form-confirm></app-form-confirm> -->
  </section>
</main>
